@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
/******basic styles******/
a:hover, a:focus{
	text-decoration:none;
}
html {
  overflow-y: scroll;
}
body{
	font-family:helvetica;
	font-size:17px;
	color:#333333;
	background-image: linear-gradient(to right, #e6d9c5, #eee0cb, #e6d9c3);
	min-width:1260px;
}
.inside{
	min-height:500px;
	padding:0px;
	margin:0px;
}
/*******main containers*******/
.container_wrapper{
	width: 100%;
	display: flex;
	justify-content: center;
}
.container_self{
	width: 1230px;
	margin:auto;
	border-radius:5px;
	margin-bottom:20px;
}
/************top menu***********/
.main-header{
	background:url(head2.jpg);
	background-size:100% 100% ;
	height:250px;
	margin-bottom:0px;
	border-radius:0px;
}
#navigation-wrapper{
	width:100%;
	transition:all .5s;
	z-index:100;
	position:fixed;
}
.navigation-wrapper{
	width:1230px;
	margin-left:auto;
	margin-right:auto;
	display:flex;
	justify-content:space-between;
	height:50px;
}
.logo{
	color:white;
	font-size:30px;
	font-weight:bold;
	text-decoration:none;
	display:flex;
	align-items:center;
	padding:5px 15px 5px 5px;
	border-radius:0 0 5px 5px;
	background:#2fc4ae;
	height:60px;
	font-family: 'Indie Flower', cursive;
	border: 0.1px solid rgba(30, 30, 30, 0.5);;
}
.logo:hover{
	color:white;
	text-decoration:none;
}
.main-menu{
	display:flex;
	width:500px;
	justify-content:space-between;
	align-items:center;
}

.main-menu__link{
	color:white;
	font-size:18px;
	text-decoration:none;
	display:inline-block;
}
.main-menu__link:hover{
	color:white;
	text-decoration:none;
}
.nav_fixed{
	position: fixed;
	background:rgba(30, 30, 30, 0.5);
}



/***************slider***************/

.slider {
  position: relative;
  height: 100vh;
  padding-top: 0px;
  z-index: 1;
}
.slide {
  display: none;
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:0;
 }
 .slogan {
z-index:3;
font-size:30px;
position:absolute;
color:white;
top: 20vh;
left: 15%;
width: 70%;
font-family: Verdana;
font-style: italic;
 }
 .slogan__header{
font-size:40px;
 }
.active-slide {
    display: block;
}

/*Slider content*/

.slide_1, .slide_2, .slide_3, .slide_4{
	height:100%;
	width:100%;
}
.slide_1{
	background:url(slide1.jpg);
	background-size:cover;
	background-position:center;
}
.slide_2{
	background:url(slide2.jpg);
	background-size:cover;
	background-position:center;
}
.slide_3{
	background:url(slide3.jpg);
	background-size:cover;
	background-position:center;
}
.slider-cont{
	width:100%;
	height:100%;
	z-index:3;
	background: rgba(30, 30, 30, 0.1);
}
.scroll_down_wrapper{
	position:absolute;
	width:100%;
	display:flex;
	justify-content:center;
	z-index:10;
	bottom:10px;
}
#scroll_down{
	width:43px;
	height:43px;
	border-radius:100%;
	border: 1px solid white;
	display:flex;
	justify-content:center;
	align-items:center;
	cursor:pointer;
	transition: all .5s;
	opacity: .5;
	padding-top:2px;
}
.scroll_up_wrapper{
	display: none;
	position: fixed;
	z-index: 10;
	cursor: pointer;
}
#scroll_up{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	width: 44px;
	height: 44px;
	border: 0.5px solid #2fc4ae;
	border-radius: 100%;
	background:white;
	opacity: .5;
	transition: all .5s;
}
.scroll_up_wrapper { 
	bottom: 60px; 
	left:30px; 
}
#scroll_down:hover,
#scroll_up:hover{
 opacity: 1;
}

		/**********************service bars******************/
.service_wrapper{
	width: 100%;
	position:absolute;
	z-index:20;
	top: 58vh;
	display: inline-flex;
	justify-content: center;
	text-shadow: 1px 0px 0px rgba(0,0,0,0.3);
}
.service{
	margin-left: auto;
	margin-right: auto;
	width: 1230px; 
	display: inline-flex;
	justify-content: space-between;	
}
.service-text h3.text-center{
	margin-bottom:7px;
}
.icon{
	background:white;
	border-radius:100%;
	padding:6px;
	margin-top:-3px;
}
.service-block{
	color:white;
	width:28%;
	height:135px;
	border-radius:5px;
	padding:15px;
	cursor: pointer;
	transition: all .5s;
	min-width:360px;
	border: 2px solid white;
}
.service-block:hover{
	background:#fff;
	color: #2fc4ae;
}	
.service-icon{
	width:20%;
	float:left;
	margin-top:0px;
	margin-right:5px;
}
.service-text-block{
	width:100%;
	float:left;
}
.service-text{
	margin:3px;	
	font-size:16px;
}
.service-text-header{
	font-size:20px;
	margin:3px;	
	margin-top:5px;
	margin-bottom:10px;
}
	/*****************************MAIN ABOUT US*****************************/		
.main_desc{
	width: 100%;
	min-height: 30vh;
	background: #2fc4ae;
	display: flex;
	align-items: center;
	font-size: 18px;
}
.main_desc_text{
	width: 1000px;
	margin: auto;
	color: white;
}

	/***********************MAIN FINDER DATE*****************************/
		
.main_finder_date{
	width: 100%;
	background: white;
	border-bottom: 1px solid #2fc4ae;
	min-height: 30vh;
	display:flex;
	align-items: center;
	justify-content:center;
	
}
.main_finder_date_form p{
	margin: 20px;
}
.main_finder_date__header{
	margin-top: 0px;
}
.main_finder_date_form p:last-child:{
	margin-bottom:0px
}
.main_finder_date_form input[type=text]{
	text-align:left;
	padding-left:20px;
	width: 180px;
}
.article_date{
	color: grey;
}

/*********************FOOTER**********************/

.main-footer{
	font-size:15px;
	margin-bottom:0px;
	padding:20px 0px 10px 0px;
	color: white;
	display:flex;
	justify-content:space-between;
	width: 1230px;
	margin-left:auto;
	margin-right: auto;
}
.footer_wrapper{
	background:#2fc4ae;
	padding-bottom:10px;
}
.main-footer__link{
	color:white;
	text-decoration:none;
	transition: all .5s;
}
.main-footer__link:hover{
	color: #333333;
	text-decoration:none;
}
.copyright{
	color:white;
	font-size:15px;
}
			/****************breadcrumbs************************/			
				
.bs{
	font-size:20px;
	margin-bottom:20px;
	margin-top:20px;
}
.bs a{
	margin-left:-8px;
	padding: 8px 13px 8px 13px;
	text-decoration: none;
	color: white;
	background: #2fc4ae;
	border-left: 1px solid white;
	transition: all .5s;
}
.bs a:hover{
	background:white;
	color: #2fc4ae;
}
.bs a:first-child{
	border-radius:20px 0px 0px 20px;
	margin:0px;
	border: none;	
}
.bs a:last-child{
	border-radius:0px 20px 20px 0px;	
}
	
	/*********************GALLERY**************************/
				
.content{
	width:100%;
	background: white;
	padding:10px 0px 10px 0px;
	overflow: hidden;
	border-radius:5px;
}
.img-item{
	height: 100%;
}
.img-item a img{
	border-radius: 5px;
}
.img-desc{
	height:40px;
	width:100%;
	background: rgba(30, 30, 30, 0.4);
	border-radius: 0px 0px 5px 5px; 
	padding-top:8px;
	position:absolute;
	bottom: 0px;
	display: none;
	overflow:hidden;
}
.img-desc-gal{
	height:50px;
	width:100%;
	background: rgba(30, 30, 30, 0.4);
	border-radius: 0px 0px 5px 5px; 
	padding-top:13px;
	position:absolute;
	bottom: 0px;
}
.img-desc-gal img{
	margin-top:-5px;
}
.item{
	display:inline-block;
	width: 31%;
	text-align:center;
	margin:7px;
	cursor:pointer;
	transition: all .5s;
	border-radius: 5px;
	color:white;
	font-size: 16px;
	position: relative;	
	height: 220px;
}
.item img{
	border-radius: 5px;
}
.item:hover{
	box-shadow: 0 0 15px #333;
}
.filters{
	width:100%;
	border-radius:5px;
	padding:10px;
	border: 1px solid #2fc4ae;
	margin-top: 7px;
}
input[type=checkbox] {
	display: none;
}
label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 16px;
	font-weight:400;
	font-family: helvetica;
}
label:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: white;
	box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
.checkbox label:before {
	border-radius: 3px;
}
input[type=checkbox]:checked + label:before {
	content: "\2714";
	font-size: 16px;
	color: #2fc4ae;
	text-align: center;
	line-height: 16px;
}

	/**************service insight***************/
	
.wiget{
	width:40%;
	float:right;
	margin:5px 30px 0px 20px;
}
.wiget-calendar{
	width:90%;
	padding:10px;
	border-radius:5px;
	background: rgba(30, 30, 30, 0.1);
	margin-left: 40px;
}
.wiget-transfer{
	float:right;
	padding:10px;
	border-radius:5px;
	margin-right: 0px 0px 0px 20px;
}
h3.avia{
	color:#6A667F;
	margin:0px;
	cursor:pointer;
}
p.avia, li.avia{
	font-size:15px;
	color:#333333;
	padding-left:20px;
	padding-right:20px;
	margin-left:0px;
	margin-right:10px;
}
hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #ffffff, #2fc4ae, #ffffff);
  margin:15px 0px 15px 0px;
  padding:1px;	

}
hr.country{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #ffffff, #2fc4ae, #ffffff);
  margin:15px 0px 15px 0px;
  padding:1px;	
}
 .li-head{
	 font-size: 15px;
	 margin-top: 5px;
	 list-style-type: none;
	 margin-left:0px;
	 padding-left:0px;	 
 }
 .ul-navigator {
	 margin-left:0px;
	 padding-left:0px;
 }
.FAQ{
	background:white;
	padding:15px;
	border-radius:5px;	
}

		/********************BLOG*******************/
		
.blog{
	background:white;
	width:100%;
	border-radius: 5px;
}		
.blog_wrapper{
	margin: auto;
	width: 1150px;
}
.blog_content_wrapper{
	width: 1200px;
	border-radius: 5px;
}
.blog_articles{
	width: 880px;
	margin: 10px;
	float:left;
	padding: 10px 30px 20px 10px;
}	
.blog_articles__heading{
	margin:0px;
	
}
.blog_articles__heading__link{
	color:#2fc4ae;
}
.blog_articles__heading__link:hover{
	color:#2fc4ae;
}
.blog_articles__link{
	color: #2fc4ae;
	text-decoration: none;
	background: #2fc4ae;
	border-radius: 20px;
	color: white;
	text-decoration: none;
	padding: 10px;
	border: 1px solid #2fc4ae;
	transition: all .5s;
}
.blog_articles__img{
	margin-bottom:10px;
}
.blog_articles_link{
	margin-top:30px;
}
.blog_articles__link:hover{
	color: #2fc4ae;
	background:white;
	text-decoration:none;
}
.blog_content_secondary{
	position:relative;
	margin: 20px 30px 10px 10px;
	padding: 5px;
	width: 260px;
	float: right;
}
.blog_content_secondary_item{
	margin-bottom: 10px;
}
.hide{
	display:none;
}
.pagination a{
	padding:7px 10px 7px 10px;
	background: #2fc4ae;
	color: white;
	text-decoration:none;
}
.pagination a:hover{
	background: white;
	color: #2fc4ae;
}
.pagination a:first-child{
	border-radius: 20px 0px 0px 20px;
}
.pagination a:last-child{
	border-radius: 0px 20px 20px 0px;
}

/*****************************MAIN ARTICLES*****************************/

.main_articles_wrapper{
	width:100%;
	padding: 30px 0px 30px 0px;
	background: white;
}
.main_articles{
	margin: auto;
	width: 1230px;
}

.main_article_desc{
	width:710px;
	height:300px;
}
.main_article_img{
	height:300px;
	width:500px;
}
.main_articles_item:nth-child(odd) .main_article_img{
	float:right;
}
.main_articles_item:nth-child(even) .main_article_img{
	float:left;
}

.main_articles_item:nth-child(odd) .main_article_desc{
	float:left;
}
.main_articles_item:nth-child(even) .main_article_desc{
	float:right;
}
.main_articles_item_link{
	background: #2fc4ae;
	border-radius: 20px;
	color: white;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	border: 1px solid #2fc4ae;
	transition: all .5s;
	vertical-align:bottom;
}
.main_articles_item_link:hover{
	color: #2fc4ae;
	background:white;
	text-decoration:none;
}
.main_articles_item h2 a{
	color: #2fc4ae;
	text-decoration: none;
}

		/***********************TRIP FINDER***************/
			
.finder{
	border-radius:5px;
	width:100%;
	background:white;
	padding-top:20px;
}
.finder_wrapper{
	margin:auto;
	width:850px;
}
.finder_result{
	border-radius:5px;
	width:100%;
	min-height:300px;
	background:white;
	padding:10px;
}
.option{
	width:100%;
	padding:10px;
	min-height:50px;
	display:inline-block;
}
.option-text{
	font-size:17px;
	padding-top:3px;
}
.option-quest{
	display:inline;
	width:370px;
	float:left;
}
.option-answer{
	display:inline;
	width:420px;
	float:left;
	font-size:17px;
}
.trip_button{
	color: white;
	background:#2fc4ae;
	border-radius:20px;
	border:1px solid #2fc4ae;
	height:35px;
	padding:4px 10px 5px 10px;
	outline: none;
	width: 160px;
	transition: all .5s;
}
.trip_button:hover{
	color: #2fc4ae;
	background: white;
}
.trip_finder_button{
	margin-left: 41%;
	margin-bottom: 15px;
}
.option-submit{
	border-radius:20px;
}
.option-answer select{
	width:290px;
	line-height:50px;
	border-radius:20px;
	border:1px solid #2fc4ae;
	padding:3px 3px 3px 8px;
	height:32px;
	background: transparent;
    line-height: 1;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	z-index:20;	
}
.select_input{
    height: 34px;
    background: url(img/select.png) no-repeat right;
    width: 280px;
 }
.option-answer select:focus{
	border-radius:20px;
	outline: none;
}
input[type=date], input[type=text]{
	border-radius:20px;
	height:32px;
	width: 190px;
	border:1px solid #2fc4ae;
	padding:3px 3px 3px 15px;
}
input[type=search]{
	border:1px solid #2fc4ae;
}
input[type=date], input[type=text], input[type=search]:focus{
	outline: none;
	box-shadow:none;
}
input[type=date]{
	box-shadow:	none;
	cursor: pointer;
}
.trip-result-head{
	min-height: 300px;
	padding:10px;
	clear:none;
}
.trip-result-img{
	margin:10px;
	margin-top:0px;
	float:right;
	width:37%;
	max-width:500px;
}
.trip-result-desc{
	float:left;
	width:61%;
}
.panel-collapse{
	padding:20px;
}
.avia-trip{
	float:left;
	width:46%;
	margin-bottom:10px;
}
.hotel-trip{
	float:right;
	width:46%;
	margin-bottom:10px;
}
.clear{
	clear:both;
}
.wiget-find-avia{
	width:45%;
	margin:5px;
	padding:5px;
}
.wiget-find-hotel{
	width:95%;
	margin:5px;
	padding:5px;
}
.panel-default{
	border-color: #C0F0E9;
}
.panel-default>.panel-heading{
	background-color: #FEFFFE;
    border-color: #C0F0E9;
}

	/*********************INPUT RANGE**************************/
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 400px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #2fc4ae;
  border-radius: 1.3px;
  border: 0.2px solid #2fc4ae;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #2fc4ae;
  height: 18px;
  width: 18px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2fc4ae;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #2fc4ae;
  border-radius: 1.3px;
  border: 0.2px solid #2fc4ae;
}
input[type=range]::-moz-range-thumb {

  border: 1px solid #2fc4ae;
  height: 18px;
  width: 18px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #2fc4ae;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #2fc4ae;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {

  border: 1px solid #2fc4ae;
  height: 20px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

 /**************************COUNTRY PAGE************************/

.countries{
	width:100%;
	background:white;
	padding:20px 30px 20px 30px;
	margin-bottom:30px;
	margin-top:10px;
	border-radius:5px;
}
.country_finder{
	float:right;
}
.country_finder_img{
	position:relative;
	color: #2fc4ae;
	margin: -25px 0px 0px 220px; 
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
.country_finder input[type=text]{
	text-align:left;
	padding-left:10px;
	width: 250px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.form-control{
	border:1px solid #2fc4ae;
	border-radius:20px;
}
.form-control:focus{
	border:1px solid #2fc4ae;
}
.input-group{
	margin-left:12px;
}
.input-group-btn{
	color: white;
}
.input-group-btn .btn-secondary:hover{
	color: #2fc4ae;
	background:white;
}
.btn-secondary{
	background:#2fc4ae;
	border:1px solid #2fc4ae;
	border-radius:20px;
}
.country_list{
	display: inline-flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}
.country_list a{
	text-decoration:none;
	width: 31%;
	max-width:410px;
}
.country_item{
	width:100%;
	max-width:450px;
	height:220px;
	display: inline-block;
	margin:10px 0px 15px 0px;
	
	cursor:pointer;
	transition: all .5s;
}
.country_item:hover{
	box-shadow: 0 0 15px #333;
}
.country_name{
	width:100%;
	height:30px;
	background: rgba(30, 30, 30, 0.4);
	margin-top:170px;
	font-size:20px;
	color:white;
}
.country_point{
	width:200px;
	float:left;
	margin-top:20px;
	margin-left:1%;
}
.country_info{
	min-height:500px;
	width:79.5%;
	float:right;
	padding-left:10px;
}
.avia-country, .hotel-country{
	width:100%;
	clear:both;
}
.hotel-country{
	max-width:700px;
}
.visa-ban{
	float:right;
	margin-bottom:15px;
	margin-left:10px;
}
.country_point_item{
	border:1px solid #2fc4ae;
	margin:4px;
	border-radius:20px;
	padding-top:5px;
	padding-bottom:5px;
	color:#2fc4ae;
	width:100%;
	transition: all .5s; 
}
.country_point_item p{
	margin-bottom:0px;
}
.country_point_link:hover{
	text-decoration:none;
}
.country_point_item:hover{
	background: #2fc4ae;
	color:white;
}
 .fixed {
    position: fixed;
    top: 150px;
	width:200px;
}
.column {
    -webkit-column-width: 47%;
    -moz-column-width: 47%;
    column-width: 47%;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
	padding:15px;
}
.column h4:first-child{
	margin-top:-5px;
}
.column h4{
	margin-left:5px;
}
